:root {
  --secondary-color: #40633B;
  --primary-color-rgb: 205,	162,	55;
  --primary-color: #cda237;
  --secondary-color-rgb: 64,	99,	59;
  --tertiary-color: #A8B6A4;
  --tertiary-color-rgb: 168,182,164;
}