:root {
  --secondary-color: #40633B;
  --primary-color-rgb: 137,161,134;
  --primary-color: #cda237;
  --secondary-color-rgb: 239,195,81;
  --tertiary-color: #A8B6A4;
  --tertiary-color-rgb: 244, 247, 251;
}